<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head", {pageTitle: "Socket.IO Chat"}) %>
    <meta name="csrf-token" content="<%= locals.csrfToken %>">
    <link rel="stylesheet" href="/styles/chat.css" />
    <link rel="stylesheet" href="/styles/auth.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/scripts/socket.io/socket.io-send-script.js" defer></script>
    <script src="/scripts/socket.io/socket.io-receive-ack-script.js" defer></script>
    <script src="/scripts/socket.io/soocket.io-receive-broadcast-script.js" defer></script>
    <script src="/scripts/utils-script.js" defer></script>
    <script src="/scripts/config-script.js" defer></script>
    <script src="/scripts/auth-script.js" defer></script>
    <script src="/scripts/friends-script.js" defer></script>
    <script src="/scripts/chat-script.js" defer></script>
    <script src="/scripts/main-script.js" defer></script>
  </head>
  <body>
    <header id="main-header">
      <h1>Chat Live With Your Friends!</h1>
      <p>Built with Node.js, Socket.IO and MongoDB</p>
    </header>
    <main>
      <%- include("includes/sign-up-in-section") %>
      <%- include("includes/friends-section") %>
      <%- include("includes/chat-section") %>
    </main>
  </body>
</html>
